@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:600);

* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #B3BFA8;
  color: #fff;
}


svg {
  text-align: center;
  width:100%;
}

h1{
  padding: 10px;
}